In [1]:
import pandas as pd
from scipy import stats

In [2]:
file_path = r"F:\Data_Science\DataSets\waze_dataset.csv"
df = pd.read_csv(file_path)

In [4]:
df.head()

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android

In [5]:
map_dictionary = {'Android': 2, 'iPhone': 1}

df['device_type'] = df['device']

df['device_type'] = df['device_type'].map(map_dictionary)
df['device_type'].head()

0    2
1    1
2    2
3    1
4    2
Name: device_type, dtype: int64

In [6]:
df.groupby('device_type')['drives'].mean()

device_type
1    67.859078
2    66.231838
Name: drives, dtype: float64

In [7]:
 # 1. Isolate the `drives` column for iPhone users.
iPhone = df[df['device_type'] == 1]['drives']
# 2. Isolate the `drives` column for Android users.
Android = df[df['device_type'] == 2]['drives']
# 3. Perform the t-test
stats.ttest_ind(a=iPhone, b=Android, equal_var=False)

TtestResult(statistic=1.463523206885235, pvalue=0.143351972680206, df=11345.066049381952)

<b> <span style = "color:blue">There is not a statistically significant difference in the average number of drives between drivers who use iPhones and drivers who use Androids </span> </b>